<div class="qcm-page">

  <!-- =========================
       SIDEBAR
       ========================= -->
  <aside class="sidebar">
    <div class="sidebar-logo">
      <img src="Logo.png" alt="Mon Concours">
    </div>

    <nav class="sidebar-nav">

      <a routerLink="/dashboard">
        <img src="icon-accueil.png" alt="">
        <span>Accueil</span>
      </a>

      <a routerLink="/concours">
        <img src="icon-concours.png" alt="">
        <span>Concours</span>
      </a>

      <a routerLink="/qcm" class="active">
        <img src="icon-qcm.png" alt="">
        <span>QCM</span>
      </a>

      <a routerLink="/formation">
        <img src="icon-astuces.png" alt="">
        <span>Formation</span>
      </a>

      <a routerLink="/exercice">
        <img src="icon-exercices.png" alt="">
        <span>Exercices</span>
      </a>

      <a routerLink="/actualite">
        <img src="icon-ecoles.png" alt="">
        <span>Écoles</span>
      </a>

    </nav>

<a routerLink="/profil" class="sidebar-profile">
  <img src="icon-profil.png" alt="">
  <span>Mon profil</span>
</a>
  </aside>


  <!-- =========================
       CONTENU
       ========================= -->
  <main class="qcm-content">

    <!-- =========================
         HEADER
         ========================= -->
    <div class="qcm-header" *ngIf="!qcmSelectionne">

      <h1>QCM</h1>

      <div class="filtre-wrapper">
        <select>
          <option>École</option>
          <option>ENSA</option>
          <option>ENSAM</option>
          <option>ENA</option>
        </select>
      </div>

    </div>

    <div
  *ngIf="accesQcmRefuse && !qcmSelectionne"
  class="acces-refuse">

  <h2>Accès aux QCM non inclus</h2>

  <p>
    Votre abonnement actuel ne permet pas d'accéder aux QCM.
  </p>

  <a routerLink="/abonnement">
    Voir les offres d'abonnement
  </a>

</div>

    <!-- =========================
         LISTE DES QCM
         ========================= -->
<div
  class="qcm-grid"
  *ngIf="!qcmSelectionne && !accesQcmRefuse">

      <div
        class="qcm-card"
        *ngFor="let qcmItem of qcms">

        <h3>{{ qcmItem.titre }}</h3>

        <div class="qcm-card-bottom">

        <div class="qcm-score">
        {{ meilleursScores[qcmItem.id] ?? 0 }}/20
        </div>

          <button
            class="passer-button"
            (click)="ouvrirQcm(qcmItem)">
            Passer
          </button>

        </div>

      </div>

    </div>


    <!-- =========================
         QCM SÉLECTIONNÉ
         ========================= -->
    <section
      *ngIf="qcmSelectionne"
      class="qcm-selectionne">


      <div class="qcm-selectionne-header">

        <div>
          <p class="qcm-label">
            QCM sélectionné
          </p>

          <h2>
            {{ qcmSelectionne.titre }}
          </h2>
        </div>

        <div class="qcm-duree">
          {{ qcmSelectionne.duree }} min
        </div>

      </div>


      <!-- =========================
           QUESTIONS
           ========================= -->
      <div
        class="question-card"
        *ngFor="let question of qcmSelectionne.questions; let i = index">

        <p class="question-numero">
          Question {{ i + 1 }}
        </p>

        <h3>
          {{ question.enonce }}
        </h3>


        <!-- =========================
             CHOIX
             ========================= -->
        <div class="choix-list">

          <label
            class="choix-item"
            *ngFor="let choix of question.choix">

            <input
              type="radio"
              [name]="'question-' + question.id"
              (change)="selectionnerChoix(question.id, choix.id)"
            >

            <span>
              {{ choix.texte }}
            </span>

          </label>

        </div>

      </div>


      <!-- =========================
           BOUTON VALIDER
           ========================= -->
<div class="qcm-actions">

            <button
       class="retour-button"
      (click)="fermerQcm()">
       ← Retour aux QCM
        </button>
        

<div class="qcm-resultat">

  <span *ngIf="resultatQcm">
    Résultat : {{ resultatQcm.score }}
  </span>

</div>

  <button
    class="valider-button"
    (click)="validerQcm()">
    Valider le QCM
  </button>

</div>

    </section>

  </main>

</div>